[mysqld]
# Adding INNODB parameters to support MARLOWE
# Add this to remove ONLY_FULL_GROUP_BY
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
#
# PNNL has 8M for this...unknown command error
innodb_log_buffer_size = 8M

# added 10/20/2022
innodb_data_file_path=ibdata1:12M:autoextend
innodb_read_io_threads = 64
innodb_write_io_threads = 64
innodb_strict_mode = OFF
max_heap_table_size = 128G

# PNNL recommends making this VERY big.. Default was 8M.  Change to 128G
#innodb_buffer_pool_size = 128G
# increased size but may have no affect since the database is already created
innodb_buffer_pool_size = 384G
innodb_buffer_pool_chunk_size = 512M
#
# PNNL recommends 1G for this.  Default was 48M
#innodb_log_file_size = 1G

# PNNL has 33 for this value
innodb_thread_concurrency = 49

# PNNL recommends change to 16.  Perhaps can increase for better performance.
innodb_buffer_pool_instances = 16

# PNNL recommends change to 10M from 256K.
sort_buffer_size = 10M

## PNNL added rename for portability
general_log_file = "MASSSPEC.log"

# PNNL has 8G for this one...
tmp_table_size = 13G

# PNNL has 13G for this value
myisam_sort_buffer_size = 26G

# PNNL has 12M for this
key_buffer_size = 23M

#set to match marlowe
character-set-server  = latin1
collation-server      = latin1_swedish_ci
